@font-face {
  font-family: 'WantedSans';
  font-display: swap;
  font-weight: 500;
  src: url('src/assets/fonts/WantedSans-Regular.ttf') format('truetype'),
    url('src/assets/fonts/WantedSans-Regular.woff') format('woff'),
    url('src/assets/fonts/WantedSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'WantedSans';
  font-display: swap;
  font-weight: 700;
  src: url('src/assets/fonts/WantedSans-SemiBold.ttf') format('truetype'),
    url('src/assets/fonts/WantedSans-SemiBold.woff') format('woff'),
    url('src/assets/fonts/WantedSans-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'WantedSans';
  font-display: swap;
  font-weight: 900;
  src: url('src/assets/fonts/WantedSans-Bold.ttf') format('truetype'),
    url('src/assets/fonts/WantedSans-Bold.woff') format('woff'),
    url('src/assets/fonts/WantedSans-Bold.woff2') format('woff2');
}

#root {
  font-family: 'WantedSans';
}
#modal-root {
  font-family: 'WantedSans';
}
textarea {
  font-family: 'WantedSans';
}
textarea::placeholder {
  font-family: 'WantedSans';
}
input {
  font-family: 'WantedSans';
}
input::placeholder {
  font-family: 'WantedSans';
}
